<angularx-wrapper elevation="3" contentAlign="left" align="left">
    <h3>This is inside a angularx-wrapper</h3>
    <pre><code>{{ code1 }}</code></pre>
</angularx-wrapper>

<angularx-wrapper elevation="15" width="1200px" contentAlign="center" [ngxStyle]="{ marginTop: '15px', background: '#000', color: '#FFF' }" align="center">
    <h3>This is inside a angularx-wrapper</h3>
    <pre><code>{{ code2 }}</code></pre>
</angularx-wrapper>

<angularx-wrapper elevation="8" contentAlign="center" [ngxStyle]="{ marginTop: '25px' }" align="right" borderRadius="12px">
    <h3>This is inside a angularx-wrapper</h3>
    <pre><code>{{ code3 }}</code></pre>
</angularx-wrapper>